#DOCKER
PREFIX=ow_

#WWW
WWW_PORT=80
WWW_SECURITY_PORT=433

#MYSQL
MYSQL_PORT=3306
MYSQL_DATABASE=moodle_base
MYSQL_ROOT_PASSWORD=password
MYSQL_USER=admin
MYSQL_PASSWORD=admin

#PHP
PHP_VERSION=7.3

#NODE
NODE_VERSION=16.17.1
